{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-resp.html" %}

{% block body_id %}{% endblock %}

{% block page_title %}{% endblock %}

{% block extrahead %}
  {{ css('privacy-test') }}
{% endblock %}

{% block body_class %}{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}

<main role="main">
  <div id="background-outer">
    <div id="background-inner"></div>
  </div>
  <div class="scatterplot">
    <div class="plot-background"></div>
    <div class="plot-inner">
      <div class="copy-container">
        <div class="copy-top-container">
          <ul class="copy-top day-in-life">
            <li class="step0">Let’s a look at a day in your life online</li>
            <li class="step1 step2 step3">You wake up and see an email about a friend’s party that night</li>
            <li class="step4 step5 step6 step7 step8">At work, you check Google and Yelp for the location and hours</li>
            <li class="step9 step10 step11 step12">By lunchtime, you may have only visited X sites</li>
            <li class="step13 step14 step15">Even when you’re casually reading news sites in the afternoon</li>
            <li class="step16 step17 step18 step19">So by the time you check Facebook at the end of the day</li>
            <li class="step20 step21 step22 step23 step24">And when you’re away from your computer in the evening</li>
            <li class="step25">So before you call it a night, have a look at your Web</li>
          </ul>
        </div>
        <div class="copy-bottom-container">
          <ul class="copy-bottom day-in-life">
            <li class="step0">And the info shared without your knowledge</li>
            <li class="step1 step2 step3">While other, third-party sites start to track you across the Web</li>
            <li class="step4 step5 step6 step7 step8">Now sites you’ve never heard of know things like where you are</li>
            <li class="step9 step10 step11 step12">But you’ve already connected to more than Y others</li>
            <li class="step13 step14 step15">You don’t have to click or like anything for them to know you’re there</li>
            <li class="step16 step17 step18 step19">You see ads and links for all things you looked at earlier</li>
            <li class="step20 step21 step22 step23 step24">Your info gets processed and sold to a billion-dollar industry</li>
            <li class="step25">To see who tracks you the most and where your info goes</li>
          </ul>
        </div>
      </div>
      <div class='graph-container'>
        <svg id="graph" class="svg" viewBox="0 0 600 700" preserveAspectRatio="xMinYMin meet"></svg>
        <input id="slider" type="range" min="0" max="25" step="1" value="0">
      </div>
      <div class="stat-container">
        <div class="stat-top-container">
          <div class="stat visited">
            <span>0</span><br>
            Sites you've<br>
            visited
          </div>
        </div>
        <div class="stat-bottom-container">
          <div class="stat unknown">
            <span>0</span><br>
            Unknown sites<br>
            tracking you
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next">
    <div class="inner">
    </div>
  </div>
</main>

{% endblock %}

{% block email_form %}{% endblock %}

{% block site_footer %}{% endblock %}

{% block js %}
  {{ js('privacy-test') }}
{% endblock  %}

