{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-resp.html" %}

{% block body_id %}{% endblock %}

{% block page_title %}{% endblock %}

{% block extrahead %}
  {{ css('privacy-test') }}
{% endblock %}

{% block body_class %}{% endblock %}

{% block site_header %}
  <header id="masthead">
    <div class="container">
      <a href="{{ url('mozorg.home') }}" id="tabzilla" data-infobar="{{ settings.TABZILLA_INFOBAR_OPTIONS }}">Mozilla</a>
    </div>
  </header>
{% endblock %}

{% block content %}

<main role="main">
  <div id="background">
    <svg id="gradient-container" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
  </div>
  <div class="scatterplot">
    <div class="plot-background"></div>
    <div class="plot-inner">
      <div class="sun-container">
        <div class="sun-inner">
          <div class="sun"></div>
        </div>
      </div>
      <div class="copy-container">
        <div class="copy-top-container">
          <ul class="copy-top day-in-life">
            <li class="step0">{{ _('Let’s a look at a day in your life online') }}</li>
            <li class="step1 step2 step3">{{ _('You wake up and see an email about a friend’s party that night') }}</li>
            <li class="step4 step5 step6 step7 step8">{{ _('At work, you check Google and Yelp for the location and hours') }}</li>
            <li class="step9 step10 step11 step12">{{ _('By lunchtime, you may have only visited X sites') }}</li>
            <li class="step13 step14 step15">{{ _('Even when you’re casually reading news sites in the afternoon') }}</li>
            <li class="step16 step17 step18 step19">{{ _('So by the time you check Facebook at the end of the day') }}</li>
            <li class="step20 step21 step22 step23 step24">{{ _('And when you’re away from your computer in the evening') }}</li>
            <li class="step25">{{ _('So before you call it a night, have a look at your Web') }}</li>
          </ul>
        </div>
        <div class="copy-bottom-container">
          <ul class="copy-bottom day-in-life">
            <li class="step0">
              {{ _('And the info shared without your knowledge') }}
            </li>
            <li class="step1 step2 step3">
              {{ _('While other, third-party sites start to track you across the Web') }}
            </li>
            <li class="step4 step5 step6 step7 step8">
              {{ _('Now sites you’ve never heard of know things like where you are') }}
            </li>
            <li class="step9 step10 step11 step12">
              {{ _('But you’ve already connected to more than Y others') }}
            </li>
            <li class="step13 step14 step15">
              {{ _('You don’t have to click or like anything for them to know you’re there') }}
            </li>
            <li class="step16 step17 step18 step19">
              {{ _('You see ads and links for all things you looked at earlier') }}
            </li>
            <li class="step20 step21 step22 step23 step24">
              {{ _('Your info gets processed and sold to a billion-dollar industry') }}
            </li>
            <li class="step25">
              {{ _('To see who tracks you the most and where your info goes') }}
            </li>
          </ul>
        </div>
      </div>
      <div class='graph-container'>
        <svg id="graph" class="svg" viewBox="0 0 600 700" preserveAspectRatio="xMinYMin meet"></svg>
        <div class="slider-container">
          <input id="slider" type="range" min="0" max="25" step="1" value="0">
        </div>
      </div>
      <div class="stat-container">
        <div class="stat-top-container">
          <div class="stat visited">
            <span>0</span><br>
            {{ _('Sites you’ve <br>visited') }}
          </div>
        </div>
        <div class="stat-bottom-container">
          <div class="stat unknown">
            <span>0</span><br>
            {{ _('Unknown sites <br>tracking you') }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="night">
    <section class="inner">
      <header>
        <h2>{{ _('So before you call it a night, have a look at your Web <br>to see who tracks you the most and where your info goes') }}</h2>
        <p>{{ _('Then take some time to educate yourself to make smarter choices and even stop some of the tracking that happens every day') }}</p>
      </header>
      <ul>
        <li>
          <h3>{{ _('Lightbeam') }}</h3>
          <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.') }}</p>
          <a class="more" href="#">{{ _('Resource link') }}</a>
        </li>
        <li>
          <h3>{{ _('Duck Duck Go') }}</h3>
          <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.') }}</p>
          <a class="more" href="#">{{ _('Resource link') }}</a>
        </li>
        <li>
          <h3>{{ _('Do Not Track') }}</h3>
          <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.') }}</p>
          <a class="more" href="#">{{ _('Resource link') }}</a>
        </li>
      </ul>
      <section class="statistics">
        <div class="chart-container">
          <h3>{{ _('Which websites make the most calls to 3rd parties?') }}</h3>
          <div class="chart"></div>
        </div>
        <p>{{ _('Websites make an average to 25 calls to 3rd parties. What this means is that 62% of websites that see you, actually see you due to calls made on your behalf.') }}</p>
      </section>
      <section class="statistics">
        <div class="chart-container">
          <h3>{{ _('How much of your visits are visible to trackers?') }}</h3>
          <div class="chart"></div>
        </div>
        <p>{{ _('On average, 38% of third parties that a website calls are trackers. Lightbeam data shows that trackers can see up to 41% of a users’ visits.') }}</p>
      </section>
      <section class="statistics">
        <div class="chart-container">
          <h3>{{ _('Which websites expose you to the most trackers?') }}</h3>
          <div class="chart"></div>
        </div>
      </section>
    </section>
  </div>
</main>

{% endblock %}

{% block email_form %}{% endblock %}

{% block site_footer %}{% endblock %}

{% block js %}
  {{ js('privacy-test') }}
{% endblock  %}

