{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% add_lang_files "mozorg/home" "mwc2014_promos" %}

{% from 'macros.html' import facebook_share_url, twitter_share_url %}

{% block page_title %}{{_('Home of the Mozilla Project')}}{% endblock %}
{% block body_id %}home{% endblock %}
{% block body_class %}lang-{{ LANG }}{% endblock %}

{% block extra_meta %}
<!-- validates bing webmaster tools -->
<meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574" />
<!-- YouTube Verification -->
<meta name="google-site-verification" content="Mef8xJZ1-faaN2AdGdCfRFo5VeoXOSxjXNIzMsxcx94" />
{% endblock %}

{% block extrahead %}
  {{ css('home-voices-b') }}
{% endblock %}

{% block string_data %}{% endblock %}

{% block js %}
  <!--[if IE 9]>
    {{ js('home-voices-b-ie9') }}
  <![endif]-->
  {{ js('home-voices-b') }}
{% endblock %}

{% block site_header %}
  <header id="masthead">
    <a href="{{ url('mozorg.home') }}" id="tabzilla" data-infobar="{{ settings.TABZILLA_INFOBAR_OPTIONS }}">Mozilla</a>

    {% block site_header_nav %}
    <nav id="nav-main" role="navigation">
      <span class="toggle" role="button" aria-controls="nav-main-menu" aria-expanded="false" tabindex="0">{{_('Menu')}}</span>
      <ul id="nav-main-menu">
        <li><a href="{{ url('mozorg.contribute') }}">{{_('Volunteer')}}</a></li>
        <li><a href="{{ url('mozorg.mission') }}">{{_('Our Mission')}}</a></li>
        <li><a href="#">{{_('Mozilla Voices')}}</a></li>
        <li><a href="{{ url('firefox.desktop.index') }}">{{_('Firefox')}}</a></li>
      </ul>
    </nav>
    {% endblock %}

    {% block site_header_logo %}{% endblock %}

    {% block alt_header %}{% endblock %}

    {% block subnav %}{% endblock %}

    {% block breadcrumbs %}{% endblock %}

  </header>
{% endblock %}

{% block content %}
<main role="main">
  <header class="mission">
    <h1>{{ high_res_img('img/home/voices-b/mozilla-wordmark-white.png', {'alt': 'Mozilla', 'width': '378', 'height': '99'}) }}</h1>
<!--     <p class="tagline">{{ _('Building the internet the world needs.') }}</p> -->
  </header>

  <section class="promo-grid-wrapper">
    <div class="promo-grid-inner">
      <ul class="promo-grid">
        <li class="item promo-large-portrait voices-open-web">
          <a href="#">
            <h2 class="go">{{ _('Voices: Learn why <strong>open matters</strong>') }}</h2>
          </a>
        </li>
        <li class="item promo-small-landscape tweet">
          <p>There are many ways to get involved in Mozilla! Here are some rangin from user support to&hellip;</p>
        </li>
        <li class="item promo-spacer"></li>
        <li class="item promo-spacer"></li>
        <li class="item promo-small-landscape firefox-download" tabindex="0">
          <div class="primary">
            <h2 class="go">{{ _('Download <strong>Firefox</strong>') }}</h2>
            <img src="{{ media('img/home/voices/firefox-logo.png') }}" alt="">
          </div>
          <div class="secondary">
            {{ download_firefox(simple=true) }}
          </div>
        </li>
        <li class="item promo-large-landscape firefox-hello">
          <a href="#">
            <h2 class="go">{{ _('<strong>Firefox Hello</strong><br> Make a video Call') }}</h2>
          </a>
        </li>
        <li class="item promo-spacer"></li>
        <li class="item promo-spacer"></li>
        <li class="item promo-small-landscape sumo">
          <a href="#">
            <h2>{{ _('Join our<br> <strong>support<br> team</strong>') }}</h2>
          </a>
          <img src="{{ media('img/home/voices/support-fox.png') }}" alt="">
        </li>
        <li class="item promo-small-landscape net-nutrality">
          <a href="#">
            <img src="{{ MEDIA_URL }}img/home/voices-b/promos/net-nutrality/logo.png" alt="Protect Net Nutrality">
            <h2>{{ _('Stand with<br> <strong>Mozilla</strong>') }}</h2>
          </a>
        </li>
        <li class="item promo-large-portrait maker-party">
          <a href="#">
            <h2 class="go"><img src="{{ MEDIA_URL }}img/home/voices-b/promos/maker-party/logo.png" alt="Maker Party"> Teach, Learn<br> &amp; <strong>Make</strong></h2>
          </a>
        </li>
        <li class="item promo-large-landscape net-nutrality">
          <a href="#">
            <h2 class="go">{{ _('“The Net<br> Neutrality Decision:<br> What Does it Mean?”') }}</h2>
          </a>
        </li>
        <li class="item promo-spacer"></li>
        <li class="item promo-spacer"></li>
        <li class="item promo-spacer"></li>
        <li class="item promo-spacer"></li>
        <li class="item promo-spacer"></li>
        <li class="item promo-small-landscape webmaker">
          <a href="#">
            <h2>{{ _('Become a <strong>Webmaker</strong>') }}</h2>
            <img src="{{ media('img/home/voices/webmaker/webmaker-logo.png') }}" alt="">
          </a>
        </li>
        <li class="item promo-spacer"></li>
      </ul>
    </div>
    <div class="faces-grid-inner">
      <ul class="faces-grid">
        {% for i in range(1, 64)|list|shuffle %}
          <li class="{{'face-' ~ '%03d'|format(i)}}"></li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="firefox-download-section">
    <div class="container">
      <header>
        <a href="{{ url('firefox') }}" id="firefox-promo-link">
          <h3><img src="{{ MEDIA_URL }}img/home/voices-b/firefox-logo-wordmark-white.png" alt="Firefox"></h3>
          <h4>{{_('Committed to <strong>you, your privacy</strong> and an <strong>open Web</strong>')}}</h4>
        </a>
      </header>
      {{ download_firefox(simple=true) }}
    </div>
  </section>

  <section class="secondary">

  </section>
</main>

{% endblock %}

{% block email_form %}{% endblock %}
