// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

html,
body {
    height: 100%;
}

#outer-wrapper {
    border-top: 0;
}

main {
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

#background-outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#background-inner {
    position: relative;
    background: #08A5E0;
    background: -webkit-linear-gradient(left, #08A5E0 0%, #08A5E0 10%, #61B0DC 20%, #86BFE4 30%, #93C4E6 40%, #9AC0DE 50%, #A2B8D3 60%, #ABAFCA 70%, #B38E8F 80%, #975645 90%, #473E62 100%);
    background: linear-gradient(to right, #08A5E0 0%, #08A5E0 10%, #61B0DC 20%, #86BFE4 30%, #93C4E6 40%, #9AC0DE 50%, #A2B8D3 60%, #ABAFCA 70%, #B38E8F 80%, #975645 90%, #473E62 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a5e0', endColorstr='#473e62',GradientType=1 );
    width: 1000%;
    height: 100%;
}

#wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

#masthead {
    width: @widthDesktop;
    margin: 0 auto;
    z-index: 10;
}

.scatterplot {
    position: relative;
    width: 100%;
    height: 800px;

    .plot-background {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 450px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    .plot-inner {
        position: relative;
        width: @widthDesktop;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        z-index: 1;
    }

    .sun-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        overflow: hidden;

        .sun-inner {
            position: relative;
            width: 800px;
            height: 700px;
            margin: 0 auto;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-transition: -webkit-transform .5s ease;
            transition: transform .5s ease;

            .sun {
                position: absolute;
                top: 300px;
                left: 0;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background: rgba(255, 255, 0, 0.3);
            }
        }
    }

    .copy-container {
        position: relative;
        float: left;
        width: 250px;
        height: 700px;
        margin: 0;
    }

    .copy-top-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .copy-bottom-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .copy-top {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .open-sans;
        li {
            display: none;
            position: absolute;
            bottom: @baseLine;
            left: 0;
            width: 100%;
            color: #fff;
            font-style: italic;
            font-size: 24px;
            line-height: 1.3;
            text-shadow: none;
            text-align: left;
            opacity: 0;
            .transition(opacity .5s ease);

            &.current {
                -webkit-transition-delay: .5s;
                transition-delay: .5s;
                opacity: 1;
            }
        }
    }

    .copy-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .open-sans;
        li {
            display: none;
            position: absolute;
            top: @baseLine;
            left: 0;
            width: 100%;
            color: rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 24px;
            line-height: 1.3;
            text-transform: uppercase;
            text-align: left;
            opacity: 0;
            .transition(opacity .5s ease);

            &.current {
                -webkit-transition-delay: .5s;
                transition-delay: .5s;
                opacity: 1;
            }
        }
    }

    .graph-container {
        position: relative;
        float: left;
        width: 600px;
        margin: 0;
    }

    .stat {
        position: absolute;
        font-size: 14px;
        text-align: right;
        font-style: italic;
        text-transform: uppercase;
        span {
            font-weight: bold;
            font-size: 60px;
            font-style: normal;
            line-height: 1;
        }
    }

    .stat-container {
        position: relative;
        float: right;
        height: 700px;
        width: 150px;
    }

    .stat-top-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
    }

    .stat-bottom-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 350px;
    }

    .visited {
        bottom: @baseLine * 4;
        right: @baseLine;
        color: rgba(255, 255, 255, 0.5);
    }

    .unknown {
        top: @baseLine * 4;
        right: @baseLine;
        color: rgba(0, 0, 0, 0.5);
    }
}

.main text {
    font: 16px sans-serif;
    fill: #fff;
}

#graph {
    width: 600px;
    height: 700px;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: #454545;
    stroke-width: 4px;
    fill: none;
}

.axis circle {
    //fill: #454545;
    fill-opacity: 1;
    stroke: #454545;
    stroke-width: 2px;
}

input[type="range"] {
    display: none;
}

.slider-container {
    position: absolute;
    top: 349px;
    left: 51px;
    width: 498px;
}

.rangeslider {
    background: none;
    box-shadow: none;
    .rangeslider__handle {
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        border-radius: 0;

        &:after {
            top: -14px;
            left: -4px;
            width: 24px;
            height: 24px;
            background: transparent url(/media/img/privacy/campaign/marker.png) top left no-repeat;
            background-size: 24px 24px;
            border-radius: 0;
        }
    }

    .rangeslider__fill {
        height: 0;
        box-shadow: none;
    }
}

.next {
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: @baseLine 0;

    .inner {
        width: @widthDesktop - (@baseLine * 2);
        margin: 0 auto;
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

}

@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakMobileLandscape) {

}

