// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

html,
body {
    height: 100%;
}

#outer-wrapper {
    position: relative;
    border-top: 0;
    background: #90ADC6;
}

main {
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 950px;
    overflow: hidden;
}

#wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

#masthead {
    width: @widthDesktop - (@gridGutterWidth * 2);
    margin: 0 auto;
    z-index: 10;

    .container {
        padding: 0;
    }
}

.scatterplot {
    position: relative;
    width: 100%;
    height: 900px;
    padding-top: -50px;
    overflow: visible;

    .plot-background {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 550px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    .plot-inner {
        position: relative;
        width: @widthDesktop - (@gridGutterWidth * 2);
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        z-index: 1;
    }

    .sun-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        overflow: hidden;

        .sun-inner {
            position: relative;
            width: 800px;
            height: 800px;
            margin: 0 auto;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-transition: -webkit-transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transition: transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            .sun {
                position: absolute;
                top: 300px;
                left: 10px;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background: rgba(255, 255, 0, 0.3);
            }
        }
    }

    .copy-container {
        position: relative;
        float: left;
        width: 210px;
        height: 700px;
        margin: 0;
    }

    .copy-top-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .copy-bottom-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .copy-top {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .open-sans;
        li {
            display: none;
            position: absolute;
            bottom: @baseLine;
            left: 0;
            width: 100%;
            color: #fff;
            font-style: italic;
            font-size: 24px;
            line-height: 1.3;
            text-shadow: none;
            text-align: left;
            opacity: 0;
            .transition(opacity .5s ease);

            &.current {
                -webkit-transition-delay: .5s;
                transition-delay: .5s;
                opacity: 1;
            }
        }
    }

    .copy-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .open-sans;
        li {
            display: none;
            position: absolute;
            top: @baseLine;
            left: 0;
            width: 100%;
            color: rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 24px;
            line-height: 1.3;
            text-transform: uppercase;
            text-align: left;
            opacity: 0;
            .transition(opacity .5s ease);

            &.current {
                -webkit-transition-delay: .5s;
                transition-delay: .5s;
                opacity: 1;
            }

            .related {
                width: 170px;
                margin-top: @baseLine;
                padding: @baseLine;
                background: rgba(0, 0, 0, 0.2);
                text-transform: none;
                font-weight: normal;

                h3 {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 14px;
                    font-weight: bold;
                    text-shadow: none;
                }

                p {
                    font-size: 14px;
                }

                a:link,
                a:visited {
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }

    .graph-container {
        position: relative;
        float: left;
        width: 600px;
        margin: 0;
    }

    .stat {
        position: absolute;
        font-size: 14px;
        text-align: right;
        font-style: italic;
        text-transform: uppercase;
        span {
            font-weight: bold;
            font-size: 60px;
            font-style: normal;
            line-height: 1;
        }
    }

    .stat-container {
        position: relative;
        float: right;
        height: 700px;
        width: 150px;
    }

    .stat-top-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
    }

    .stat-bottom-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 350px;
    }

    .visited {
        bottom: @baseLine * 4;
        right: @baseLine;
        color: rgba(255, 255, 255, 0.5);
    }

    .unknown {
        top: @baseLine * 4;
        right: @baseLine;
        color: rgba(0, 0, 0, 0.5);
    }
}

.main text {
    font: 16px sans-serif;
    fill: #fff;
}

#graph {
    width: 600px;
    height: 700px;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: #454545;
    stroke-width: 4px;
    fill: none;
}

.axis circle {
    //fill: #454545;
    fill-opacity: 1;
    stroke: #454545;
    stroke-width: 2px;

    &:hover {
        cursor: pointer;
    }
}

input[type="range"] {
    display: none;
}

.slider-container {
    position: absolute;
    top: 349px;
    left: 51px;
    width: 498px;
}

.rangeslider {
    background: none;
    box-shadow: none;
    height: 0;
    .rangeslider__handle {
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        border-radius: 0;

        &:after {
            top: -14px;
            left: -4px;
            width: 24px;
            height: 24px;
            background: transparent url(/media/img/privacy/campaign/marker.png) top left no-repeat;
            background-size: 24px 24px;
            border-radius: 0;
        }

        &:focus {
            outline: 1px dotted #fff;
        }
    }
    .rangeslider__fill {
        height: 0;
        box-shadow: none;
    }
}

.night {
    position: relative;
    padding: @baseLine 0;
    color: #fff;
    background: #202B50;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)
                -webkit-linear-gradient(left, rgba(120, 84, 114, 1) 0%, rgba(47, 63, 116, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
                linear-gradient(to right, rgba(120, 84, 114, 1) 0%, rgba(47, 63, 116, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#533A4F', endColorstr='#202B50',GradientType=1 );

    .inner {
        width: @widthDesktop - (@baseLine * 4);
        margin: 0 auto;
    }

    header {
        text-align: center;
        padding: @baseLine (@baseLine * 4);
        h2 {
            color: #fff;
            font-size: 24px;
            font-style: italic;
            text-shadow: none;
            line-height: 1.4;
        }
        p {
            color: #3F90C7;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.4;
        }
    }

    ul {
        position: relative;
        list-style-type: none;
        margin: @baseLine 0;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            width: 246px;
            margin: 0 (@baseLine / 2);
            padding: @baseLine;
            background: rgba(0, 0, 0, 0.4);

            h3 {
                color: #fff;
                text-shadow: none;
            }

            p {
                color: #3F90C7;
            }

            a:link,
            a:visited {
                display: block;
                color: gray;
            }
        }
    }

    .statistics {
        position: relative;
        overflow: hidden;
        padding: @baseLine 0;
        h3 {
            color: #fff;
            font-size: 16px;
            text-shadow: none;
            text-transform: uppercase;
            font-weight: bold;
        }
        p {
            color: #fff;
            font-size: 18px;
            font-style: italic;
            .span(4);
        }

        .chart-container {
            .span(7);

            .chart {
                width: 500px;
                height: 300px;
                background: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #masthead {
        width: @widthTablet - (@gridGutterWidth * 2);
    }

    #background {
        height: 850px;
    }

    .scatterplot {
        height: 800px;

        .plot-background {
            height: 508px;
        }

        .plot-inner {
            width: @widthTablet - (@gridGutterWidth * 2);
        }

        .sun-container {
            top: 0;
            left: 0;
            width: 100%;
            height: 292px;

            .sun-inner {
                width: 650px;
                height: 650px;

                .sun {
                    top: 235px;
                    left: 10px;
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .copy-container {
            width: 150px;
        }

        .copy-top-container {
            height: 292px;
        }


        .copy-top li {
            font-size: 18px;
        }

        .copy-bottom li {
            font-size: 18px;

            .related {
                width: 110px;

                h3 {
                    font-size: 12px;
                }

                p {
                    font-size: 12px;
                }

                a:link,
                a:visited {
                    font-size: 12px;
                }
            }
        }

        .copy-bottom-container {
            height: 408px;
        }

        .graph-container {
            width: 500px;
        }

        #graph {
            width: 500px;
            height: 583px;
        }

        .stat-container {
            position: absolute;
            top:0;
            right: 0;
            height: 700px;
            width: 100px;
            z-index: -10;
        }

        .stat-top-container {
            height: 292px;
        }

        .stat-bottom-container {
            height: 408px;
        }

        .stat {
            font-size: 10px;
            span {;
                font-size: 40px;
            }
        }
    }

    .slider-container {
        position: absolute;
        top: 290px;
        left: 41px;
        width: 418px;
    }

    .night .inner {
        width: @widthTablet - (@gridGutterWidth * 2);
    }

}

@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakMobileLandscape) {

}

